// Specific CSS for your home-page
* {
  text-align: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

h1 {
  color: white;
  margin-top: 3em;
}

img {

}
