// Specific CSS for your home-page
* {
  text-align: center;
}

.container-home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  .logo {
    margin-bottom: 1em;
  }

  .btn-white {
    color: #3c3c3c;

    &:hover {
      color: white;
    }
  }
}

.container-home-info {

  border: $orange solid 0.1em;
  border-radius: 25px;
  background-color: rgba(255,255,255, 0.6);
  h3, p, h5 {
    color: gray;
  }

  h3 {
    margin: 1em;
  }

  img {
    border-radius: 25px;
    width: 70%;
    margin: 1em;
  }

  .home-details {
    display: flex;
    flex-direction: column;
    img {
      width: 10%;
    }

    .app-detail {
      display: flex;
      align-items: center;
      margin: 1em;
    }
  }
}

.title-hp {
    margin-bottom: 2em;
  .logo {
  }
  h1 {
    color: #3c3c3c;
    text-shadow: 0 2px 2px rgba(255,255,255,1);
  }
}

.call-to-action {
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll {
  font-size: 5em;
  color: white;
  opacity: 0.9;
  text-shadow: 0 6px 4px rgba(0,0,0,0.2);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
