<div class="background-butterfly">
    <div class="container">
      <div class="title">
        <h1>Track your good habits. <br>
       Feel proud of yourself with </h1>
        <%= image_tag "logo.svg", alt: "logo-eat4good" %>
      </div>
  </div>
</div>

