<div class="background-butterfly">
    <div class="container">
      <div class="title">
        <h1>Track your good habits. <br>
       Feel proud of yourself with </h1>
        <%= image_tag "logo.svg", alt: "logo-eat4good" %>
      </div>
      <div class="call-to-action">
        <h2><%= link_to "Sign up", new_user_registration_path, class: "btn-white" %></h2>
        <h2><%= link_to "Login", new_user_session_path, class: "btn-white" %></h2>
      </div>
      <div class="scroll">
        <i class="fas fa-angle-down"></i>
      </div>
  </div>
  <div>
    <h1>test</h1>
    <h2>test</h2>
    <h3>test</h3>
    <h4>test</h4>
    <h5>test</h5>
    <h6>test</h6>
    <p>test</p>
  </div>
</div>

