<div class="background-butterfly">
    <div class="container-home">
      <div class="title-hp">
        <div class="logo">
          <%= image_tag "logo.svg", alt: "logo-eat4good", class: "logo" %>
        </div>
        <h1>Track your food good habits. <br>
        Feel proud of yourself<br>
        by protecting Hearth</h1>
      </div>
      <div class="call-to-action">
        <h2><%= link_to "Sign up", new_user_registration_path, class: "btn-white" %></h2>
        <h2><%= link_to "Login", new_user_session_path, class: "btn-white" %></h2>
      </div>
      <div class="scroll">
        <i class="fas fa-angle-down"></i>
      </div>
  </div>
  <div class="container-home-info">
    <h3>Everyday</h3>
    <p>Eat4Good app a purpose for every meal of your day.</p>
    <h3>Each meal is registrer and give you a daily analysis</h3>
    <h3>You earn badges through growing up in veggie world</h3>
    <h3>As motivation is always better together challenge your friends</h3>
    <h3>No idea of veggie food: we propose you a selection to inspire you</h3>
  </div>
</div>

