<h1 class="mt-3 pb-2">Choose your challenge</h1>
<div class="challenge pt-3">
  <div class="challenger1">
    <%= cl_image_tag @friend.first.friend1_user.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
            {:width=>200, :crop=>"scale"}
            ], class: "avatar-friend-list" %>
    <div class="friend-name"><%= @friend.first.friend1_user.nickname %></div>
  </div>
  <div class="pt-2"><i class="fas fa-arrows-alt-h"></i></div>
  <div class="challenger2">
    <%= cl_image_tag @friend.first.friend2_user.photo.key, :transformation=>[
            {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"crop"},
            {:width=>200, :crop=>"scale"}
            ], class: "avatar-friend-list" %>
    <div class="friend-name"><%= @friend.first.friend2_user.nickname %></div>
  </div>
</div>

