.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}
.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-bordered-xsmall {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  border: white 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.1em;

  img {
    padding-top: 0.2em;
    width: 1.7em;
    height: 1.7em;
  }
}

.avatar-bordered-large {
  width: 6em;
  height: 6em;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: contain;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  img {
    width: 4em;
    height: 4em;

  }
}

.avatar-bordered-xlarge {
  width: 7.5em;
  height: 7.5em;
  padding: 0.5em;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: contain;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

  img {
    width: 5.5em;
    height: 5.5em;

  }
}

.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.avatar-friend-list {
  width: 80px;
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  margin: 1em;
}

.avatar-challenge {
  width: 60px;
  border-radius: 50%;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

.avatar-meals {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: black 1px solid;
  margin-top: 40px;
  background-color: white;
   img {
    margin: 10px;
   }
}

@media (max-width: 1024 px) {
  /* For a screen < 1024 px, this CSS will be read */

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */

}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .avatar-bordered-large {
  width: 4.1em;
  height: 4.1em;
  padding: 0.1em;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: contain;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

    img {
      width: 2.5em;
      height: 2.5em;
    }
  }

  .avatar-bordered-xlarge {
  width: 7em;
  height: 7em;
  padding: 0.1em;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  object-fit: contain;
  margin: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

    img {
      width: 4.5em;
      height: 4.5em;
    }
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */

}

.avatar-large-badge {
  width: 30px;
  border-radius: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
    img {
      opacity: 0.3;
    }
}

.avatar-large-badge-complete {
  width: 30px;
  border-radius: 50%;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.avatar-show-badge {
  width: 180px;
  height: 180px;
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 50%;
    img {
      margin: 25px;
    }
}

.avatar-index-badge {
  background-color: white;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 50%;
    img {
      margin: 10px;
    }
}

.selected {
  border: $green solid 0.3em;
}
