.background-butterfly {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(255, 255, 255, 0.73)), url("https://images.unsplash.com/photo-1591822398980-0b814dca6772?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDl8fHBsYW50fGVufDB8MXwwfHRlYWw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60");
  background-position: center;
  background: contain;
  margin: 0;
  padding: 1em;
  padding-bottom: 5em;
  background-size: auto 50%;
  background-repeat: repeat;
  background-position: top;
  min-height: calc(100vh);

  img {
    opacity: 1;
  }
}

// https://images.unsplash.com/photo-1604537529586-87ac173f4310?ixid=MXwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80

// https://images.unsplash.com/photo-1587649921751-14061c012478?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NzR8fG5hdHVyZXxlbnwwfDF8MHx0ZWFs&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60

// https://images.unsplash.com/photo-1593291619431-271d4391ded1?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MTE5fHxuYXR1cmV8ZW58MHwxfDB8dGVhbA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60
