.btn-white {
  height: 1.8em;
  width: 6em;
  border-radius: 25px;
  border: solid $orange 0.1em;
  color: #9E8F87;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: 0.5em;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: $orange;
  }
}
