.monthly-analysis {

  width: 60%;
  border-radius: 25px;
  border: silver 0.1em solid;
  background-color: white;

  table{
    width: 100%;
    padding: 10px;
    color: #9d9d9d;
  }

  th{
    font-weight: normal;
    font-size: 14px;
    color: #5b5b5b;
    width: 1em;
  }

  td{
    font-weight: normal;
    font-size: 12px;
    text-align: center;
  }


  td > span{
    display: inline-block;
    text-align: center;
    padding: 3px; margin: 0px;
    width: 20px; height: 20px;
    line-height: 20px;
  }

  td > span:hover{
       font-weight: bold;
  }

  td > span.veggie0{
      border: 1px solid #89D0BF;
      background-color: #89D0BF;
      border-radius: 30px;
    }

  td > span.veggie1{
      border: 1px solid #C6F093;
      background-color: #C6F093;
      border-radius: 30px;
    }
  td > span.veggie2{
      border: 1px solid #8EB85E;
      background-color: #8EB85E;
      border-radius: 30px;
    }
  td > span.veggie3{
      border: 1px solid #59822D;
      background-color: #59822D;
      border-radius: 30px;
    }

  td > span.veggie-1{
      border: 1px solid silver;
      border-radius: 30px;
    }
}
