.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 0;
  background: $green;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 3.5em;

  h1 {
    margin: 0;
    color: white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.show {
  padding: 0;
}
