.user-info  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.edit-info {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

  // .btn-white {
  //   width: 100%;
  //   margin:0;
  // }

  .form-inputs {
    border-radius: 25px;
  }

  .objective-setting {
    padding: 0.2em 2em;
    width: 100%;
    border-radius: 25px;
    border: silver 0.1em solid;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    margin: 1em 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    vertical-align: center;
      i {
        margin: 0.2em;
      }

      h6 {
        padding: 0.5em;
        margin: 0;
      }
}

