.user-info  {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.edit-info {
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.objective-setting {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  i {
    margin: 0.1em;
  }
}

.field-user {
  padding: 0.2em 2em;
  width: 70%;
  border-radius: 25px;
  border: silver 0.1em solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1em 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  vertical-align: center;
}

.week-obj {
  display: flex;
  flex-direction: row;
}
