.add-btn{
    height: 1.8em;
    width: 20px;
    border-radius: 10px;
    border: solid $orange 0.1em;
    color: $orange;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 270px;
    //position: absolute;

    &:hover {
      text-decoration: none;
      color: white;
      background-color: $orange;
    }
}

.avatar-friend-list{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  //position: relative;
}


