.card-add-friend{
  width: 80px;
  margin: auto;
  position: relative;
  .avatar-friend-list{
    margin: 0;
  }
}
.add-btn{
    height: 20px;
    width: 20px;
    border-radius: 50px;
    border: solid $orange 0.1em;
    color: $orange;
    font-size: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: absolute;
    bottom: 1px;
    right: -1px;
    padding: 0;
    line-height: 0.8;

    &:hover {
      text-decoration: none;
      color: white;
      background-color: $orange;
    }
}

.avatar-friend-list{
  //display: flex;
  //justify-content: space-between;
  //align-items: flex-end;
  //position: relative;
}


