// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

* {
  margin: 0;
}

body {
  //position: relative;
  min-height: 100vh;
}

.container-void-footer {
  min-height: calc(100vh - 4.5em - 3.5em)
}

@media (max-width: 1024 px) {
  /* For a screen < 1024 px, this CSS will be read */
  .container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    min-height: calc(100vh - 4.5em - 3.5em);

  }
  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 2.6vw;
  }

  h3 {
    font-size: 2.2vw;
  }

  h4 {
    font-size: 1.8vw;
  }

  h5 {
    font-size: 1.4vw;
  }

  h6 {
    font-size: 1.2vw;
  }

  p {
    font-size: 1.2vw;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 4.5em - 3.5em);
  }
  h1 {
    font-size: 4.8vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.2vw;
  }

  h5 {
    font-size: 3.2vw;
  }

  h6 {
    font-size: 2.8vw;
  }

  p {
    font-size: 2.4vw;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 4.5em - 3.5em);
  }
  h1 {
    font-size: 4.8vw;
  }

  h2 {
    font-size: 4vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.2vw;
  }

  h5 {
    font-size: 3.2vw;
  }

  h6 {
    font-size: 2.8vw;
  }

  p {
    font-size: 2.4vw;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 4.5em - 3.5em);
  }
  h1 {
    font-size: 6vw;
  }

  h2 {
    font-size: 5.6vw;
  }

  h3 {
    font-size: 5.2vw;
  }

  h4 {
    font-size: 4.8vw;
  }

  h5 {
    font-size: 4.4vw;
  }

  h6 {
    font-size: 4vw;
  }

  p {
    font-size: 3.6vw;
  }
}

